body {
    background-image: url("https://i.pinimg.com/originals/5c/00/1a/5c001a1afe5287f05618ecbde25c309a.gif");
    background-size: 100%;
    text-align: center;
}
h1 {
    font-family: 'Comic Sans MS';
    font-size: 30px;
    background-color: #fac0dc;
    display: inline;
}
a {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    background-color: #ffffff;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    left: 45%;
    top: 53%;
}
    
   a1 {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    background-color: #ffffff;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 53%;
}
